* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background-color: #082b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}
img {
    height: 290px;
    width: 290x;
    background-color: aquamarine;
    object-fit: cover;
    border-radius: 50%;
    

}
.choices {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 3rem;
    gap: 5rem;
}
#user-score,
#comp-score {
    font-size: 5rem;
}
.msg-container {
    margin-top: 5rem;
}
#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}